body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: rgb(58, 180, 233);
}

.container {
  padding: 40px;
  border-right: 1px rgb(196, 228, 241) solid;
}

.left-container {
  border-bottom: 1px solid rgb(228, 223, 223);
  text-align: center;
  color: rgb(145, 143, 143);
}

.left-2 {
  border-bottom: 1px solid rgb(228, 223, 223);
  height: 100px;
  text-align: center;
  color: rgb(58, 134, 233);
}

.p-1 {
  width: 200px;
  margin: auto;
}

.left-3 {
  color: rgb(25, 161, 219);
  text-align: center;
}

.b-1 {
  color: rgb(58, 180, 233);
  background-color: white;
  border: 1px solid rgb(58, 180, 233);
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-left: 250px;
  border-radius: 10px;
}

.div-1 {
  border-bottom: 1px solid rgb(228, 223, 223);
  text-align: center;
  color: gray;
}

.middle-2 {
  border-bottom: 1px solid rgb(228, 223, 223);
  height: 100px;
  text-align: center;
  color: rgb(58, 134, 233);
}

.p-2 {
  width: 200px;
  margin: auto;
}

.middle-3 {
  color: rgb(58, 180, 233);
  text-align: center;
}

.b-2 {
  border: none;
  height: 45px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgb(58, 180, 233);
}

.middle-container {
  padding: 40px;
  border-right: 1px rgb(196, 228, 241) solid;
}

.right-container {
  border-bottom: 1px solid rgb(228, 223, 223);
  text-align: center;
  color: gray;
}

.right-2 {
  border-bottom: 1px solid rgb(228, 223, 223);
  height: 100px;
  text-align: center;
  color: rgb(58, 134, 233);
}

.p-3 {
  width: 200px;
  margin: auto;
}

.right-3 {
  color: rgb(58, 180, 233);
  text-align: center;
}

.b-3 {
  color: rgb(58, 180, 233);
  background-color: white;
  border: 1px solid rgb(58, 180, 233);
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.div-3 {
  padding: 40px;
}

.left-3 h1 {
  color: rgba(0, 119, 255, 0.89);
}

.middle-3 h1 {
  color: rgba(0, 119, 255, 0.89);
}

.right-3 {
  color: rgba(0, 119, 255, 0.89);
}
